<div style="margin-top: 30px; margin-left: 30px">
  <h1>Add New Friend</h1>
  <br>
  <%= render 'form', friend: @friend %>
  <br>
  <%= link_to 'Back', friends_path, class: "btn btn-secondary" %>
</div>